<div class="vp--visual-node vp--visual-statement" data-visual-node-id="@StatementId">
    <div class="vp--node-dragger"></div>

    @* Previous statement node link *@
    <div class="vp--node-link" data-node-link-role="destination" data-node-link-type="statement"></div>

    <span class="vp--node-title">@Statement.GetType().GetNameWithoutGeneric()</span>

    <VisualNodePropertiesPresenter Node="Statement" />

    @* Succeeding statements node links *@
    <div class="vp--node-statements">
        @foreach (var link in Statement.GetPropertiesOfType(VisualNodePropertyType.Statement)) {
            <div>
                @(link.Meta.Label ?? link.Name)
                <div class="vp--node-link" data-node-link-type="statement" data-node-link-role="source" data-node-link-name="@link.Name"></div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public VisualStatement Statement { get; set; }
    [Parameter] public Guid StatementId { get; set; }
}
