<div class="vp--node-properties">
    @foreach (var prop in Properties) {
        <div class="vp--node-property">
            @(prop.Meta.Label ?? prop.Name)

            @if (prop.PropertyType == VisualNodePropertyType.Expression) {
                <div class="vp--node-link" data-node-link-type="expression" data-node-link-role="source" data-node-link-name="@prop.Name" data-node-link-expr-type="@prop.PropertyType"></div>
            } else {

            }
        </div>
    }
</div>

@code {
    [Parameter] public IVisualNode Node { get; set; }

    /// <summary>Gets an enumerable for all the editable properties of the assigned node.</summary>
    IOrderedEnumerable<VisualNodePropertyDefinition> Properties => Node.GetPropertiesOfTypes(VisualNodePropertyType.Expression, VisualNodePropertyType.Value)
        .OrderBy(p => p.Meta.Order)
        .ThenBy(p => p.Meta.Label ?? p.Name);
}
