@page "/"
@inject IJSRuntime JsRuntime

<VisualProgramEditor Program="program" />

<button class="execute-button" @onclick="Execute">Execute</button>

@code {
	static string testEntryId = "testentry";

	static VisualProgram program = new VisualProgram(env => env
		.ConfigureEntries(e => e
			.Add(testEntryId, "Test Entry", p => p
				.WithParameter<double>("someDouble")
			)
		)
		.ConfigureDataTypes(dt => dt
			.AddDefault()
			.Add<long>()
		)
		.ConfigureLockedVariables(v => v
			.Add<double>("someLockedDouble", 10d)
		),
		new VisualNodeCollection {
			{ new VisualEntry(testEntryId) { ParameterMap = new Dictionary<string, string> { ["someDouble"] = "doubleVar" }, Position = new System.Drawing.Point(100, 10) } }
		},
		new VariableCollection {
			{ "doubleVar", typeof(double), 0d }
		}
	);

	void Execute() {
		var programFactory = program.Compile<IDemoProgram>();
		var inst = programFactory.CreateProgram();
		inst.TestEntry(10d);
		Console.WriteLine($"Double var = {inst.DoubleVar}");
		Console.WriteLine($"Double var other = {inst.GetVariable("doubleVar")}");
	}

	public interface IDemoProgram : VisualProgrammer.Core.Compilation.ICompiledInstanceBase
	{
		void TestEntry(double d);
		double DoubleVar { get; set; }
	}
}